.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 213);
  height: 100px;

  h3 {
    font-size: 25px;
    color: rgb(18, 162, 27);

    .footer-emoji {
      margin-left: 10px;
      font-size: 70px;
      cursor: pointer;
    }
  }
}
