.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  width: 90vw;
  max-width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: white;
  margin-bottom: 50px;

  @media (min-width: 1000px) {
    max-width: 900px;
    flex-direction: row;
    gap: 5%;
    padding: 2% 5%;
  }

  img {
    width: 90%;
    margin-top: 5px;
    max-width: 500px;
    border-radius: 15px;

    @media (min-width: 1000px) {
      max-width: 50% ;
    }
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;

    .project-title {
      text-transform: uppercase;
      font-size: 17px;
      margin: 15px 0;
    }

    .project-description {
      color: #767676;
      font-weight: 500;
      font-size: 17px;
      width: 350px;
      text-align: center;
      margin-bottom: 20px;
      max-width: 100%;
    }

    .project-stack {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-bottom: 20px;
      list-style: none;
      flex-wrap: wrap;
      padding-left: 0;

      p {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        font-family: Mulish, sans-serif;
        border-radius: 4px;
        padding: 8px 12px;
      }
    }

    .project-links {
      display: flex;
      justify-content: center;
      gap: 30px;
      margin-bottom: 20px;
      flex-wrap: wrap;

      :hover {
        color: #147efb;
        transition: all 0.3s;
      }

      a {
        text-decoration: none;
        color: #2d2e32;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        p {
          font-size: 18px;
          font-weight: 400;
          gap: 5px;
          margin-right: 10px;
        }

        .github-repo {
          font-size: 30px;
        }
        .live-demo {
          font-size: 24px;
        }
      }
    }
  }
}
